{{>header}}
<p>
    Hej {{name}}
</p>
<p>
    Återställ ditt lösenord genom att följa instruktionerna nedan.
</p>
<p>
    Klicka <a href="{{restoreUrl}}">här</a> för att återställa ditt lösenord.
</p>
{{>footer}}