<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loverino.se</title>
    <style>
        .body{
            margin:0px;
            padding: 0px;
            background-color: #edf2f6;
        }
        .header{
            height: 70px;
            background-color: #3f4257;
        }
        .logo{
            padding-top: 12px;
            padding-left: 40px;
        }
        .logo-left{
            float:left;
        }
        .logo-right{
            padding-top: 5px;
            color: white;
            padding-left: 10px;
            float:left;
        }
        .logo-link{
            color: white;
            padding-left: 10px;
            float:left;
            font-size: 1.3rem;
            text-decoration: none;
        }
        .clear{
            clear: both;
        }
        .container{
            border-radius: 20px;
            background-color: whitesmoke;
            padding: 20px 20px 20px 20px;
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
        .heading{
            color: #0b0b0b;
            font-size: 1.6rem;
            text-align: center;
        }
        .body_text{
            text-align: center;
            font-size: 1.2rem;
        }
        .footer{
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body class="body">
<div class="header">
    <div class="logo">
        <div class="logo-left">
            <a href="">
                <img src="http://localhost:8080/img/logo.webp" alt="Monogomic" width="34" height="34">
            </a>
        </div>
        <div class="logo-right">
            <a href="" class="logo-link">
                Loverino
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="container">