{{>header}}
<h3 class="heading">
    Hello User
</h3>
<p class="body_text">
    Välkommen som medlem hos loverino!
    <br />
    <a href="">
        Klicka på denna länk för att aktivera ditt konto
    </a>
</p>
{{>footer}}